div {
	font-family:"맑은 고딕";
	font-size : 20px; 
	width : 150px;
	height : 150px;
	background-color : white;
	text-align : center;
	float: left;
}

div:nth-child(1) {
	padding : 10px;
	background-color : red;
}

div:nth-child(2) {
	margin : 10px;
	background-color : green;
}

div:nth-child(3) {
	border : 10px solid #f84;
	background-color : blue;
}

div:nth-child(4) {
	border : 10px solid #f84;
	box-sizing : border-box; /* �� �Ӽ��� �ָ� border�� ���� �������� ������ */
	background-color : gray;
}

div:nth-child(5) {
	border : 10px solid #f84;
	box-sizing : content-box;
	background-color : orange;
}

div:nth-child(6) {
	border-width : 10px;
	border-style : solid;
	border-color : #f84;
	background-color : yellow;
}

div:nth-child(7) {
	border-width : 10px;
	border-style : dashed;
	border-color : #f84;
	background-color : cyan;	
}

div:nth-child(8) {
	border-width : 10px;
	border-radius : 10px;
	border-style : solid;
	border-color : #f84;
	background-color : cyan;	
}

div:nth-child(9) {
	border-top : 10px solid #f84;
	border-bottom : 10px solid #f84;
	background-color : cyan;	
}

div:nth-child(10) {
	border-left : 10px solid #f84;
	border-right : 10px solid #f84;
	background-color : cyan;	
}